<!DOCTYPE html>
<html>
<head>
  <title>Credential Info</title>
</head>

<body>
  <table>
    <tr>
        <% @params_names.each{|title|%>
          <td> <%= title %> </td>
        <%  }  %>
    </tr>


    <% @credential_info.each{|rec| %>
        <tr>
          <% @params_names.each{|param_name|%>
              <td> <%= rec[param_name] %> </td>
          <%  }  %>
        </tr>

    <% } %>
  </table>

</body>
</html>

